{% extends 'FrontendBundle::layout.html.twig' %}


{% block header %}
    <header class="shadded add-bottom-2">
        
        <img src="/bundles/arrabassada/images/slider/banner1.jpg" alt="Playa arrabassada" title="Playa Arrabassada Disfruta de las puestas de sol" class="max-image">

    </header>
{% endblock %}

{% block content %}
	
	
<!-- Content -->
<div class="container">
    
    <div class="row offset-by-one add-bottom-2">
        
        <div class="fourteen columns">
            <p>
                ARRABASSADA IMMOBILIARIA, se halla situada en La Vall de l´Arrabassada. 
                Tenemos una experiencia de 9 años en esta zona, así como en las urbanizaciones 
                aledañas. Lo cual conlleva un conocimiento exhaustivo del barrio en lo relativo al 
                mercado de alquiler y compra-venta de vivienda.
            </p>
            <p>
                Hay muchos factores que afectan al valor de la vivienda, como pueden ser su 
                ubicación, orientación, distribución, equipamiento, estado de conservación, etc. 
                Por ellos, consideramos que nuestro asesoramiento experto le puede resultar útil 
                en las transacción inmobiliaria.
            </p>
            <p>
                La dirección de nuestra inmobiliaria corre a cargo de Álex Bonnin Sebastià, Agente 
                de la Propiedad Inmobiliaria colegiado.
            </p>
            <p>
                Nos ponemos a su disposición como inmobiliaria de la zona para conocernos.
                Arrabassada Immobiliàira, se pone a su disposición para servirles rápida y 
                eﬁcazmente en cualquier gestión inmobiliaria que pueda interesarles.
            </p>
        </div>
    </div>
    
    <div class="row offset-by-one add-bottom-2">
        
        <div class="six columns">
            <h4>Que le podemos ofrecer</h4>
            <ul class="double-list">
                <li>Compraventa</li>
                <li>Alquiler</li>
                <li>Hipotecas</li>
                <li>Estudio de viabilidad de promociones</li>
                <li>Viviendas "llaves en mano"</li>
                <li>Gestión de patrimonios</li>
                <li>Suelo y gestión urbanística</li>
                <li>Valoraciones y tasaciones</li>
            </ul>
        </div>

        <div class="seven offset-by-one columns">
            <h4>Conoce nuestro barrio</h4>
            <p>
            Barrio situado al Este de Tarragona, bañado por la playa de l’Arrabassada y acogido por 
            las pequeñas zonas montañosas que lo envuelven y forman el valle propiamente dicho.
            </p>
            <p>
            Un barrio joven, emprendedor, nuevo, con un urbanismo amigable y con zonas verdes 
            ajardinadas y equipadas, a escasos 300 metros de la playa de l’Arrabassada.                                        
            </p>
            <p>
            Muy bien comunicada con el centro de Tarragona, mediante el servicio de Transporte 
            Urbano, o bien puede dar un agradable paseo por la Via Augusta. 
            </p>
            <p>
            También envuelta por el cinturón de autovía que da salida al barrio hacia el sur o bien 
            hacia Barcelona, dirección norte.
            A escasos 15 minutos de la estación del AVE, sin pasar ningún semáforo.
            A escasos 15 minutos del Aeropuerto de Reus.
            Todas estas características le conﬁeren a la Vall de l’Arrabassada un perﬁl ideal.
            </p>
        </div>
        
    </div>

</div>
<!-- /.container -->
	
{% endblock %}	