<!-- Sidebar -->
<aside class="four columns row">

        <!-- Featured agent box -->
        <div class="featured-agent lighted four columns">

                <h4 class="half-bottom">Featured Agent</h4>

                <img src="images/featured-agent-avatar.jpg" alt="agent" />

                <h5>Peter Doe</h5>

                <ul>
                        <li>Mobile: 111-222-333</li>
                        <li>Office: 365-753-654</li>
                        <li>Fax: 986-852-654</li>
                </ul>

                <p class="remove-bottom">Lorem ipsum dolor sit amet, consecur adipiscing elit. Suspendisse vel orci ipsum, in euismod tellus. Aenean eu ante </p>

        </div>
        <!-- /.featured-agent -->

</aside>
<!-- /Sidebar -->	